.error-page {
    padding: 30px 0;
    text-align: center;
}

pre {
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

#mainNav.bg-navbar {
    background-color: #403b42;
}

.btn-panel {
    margin-bottom: 20px;
}

.tab-pane > .btn-panel {
    margin-top: 20px;
}

.description {
    max-height: 12em;
    overflow-y: auto;
}

.personal-data--item {
    margin-top: 10px;
}

.card.accent {
    background-color: rgb(240, 95, 64);
    color: #fff;
}

.card .author {
    text-align: right;
}

.card.accent .author a {
    color: #fff;
}

.no-ava {
    text-align: center;
}

.no-ava i {
    color: #fff;
    font-size: 5rem;
}